services:
  app:
    build: .
    container_name: oitpmv
    ports:
      - "8000:8000"
    environment:
      - DJANGO_ENV=${DJANGO_ENV}
    volumes:
      - .:/var/www/iotpmv
      - /var/www/iotpmv/static:/var/www/iotpmv/static
      - /mnt/fileshare/media:/mnt/fileshare/media:rw
      - /mnt/pruebas:/etl_data:rw
    depends_on:
      - redis

  redis:
    image: redis:alpine

volumes:
  db_data:
