{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
  {% if not can_view %}
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
      <div class="alert alert-danger d-flex align-items-center shadow-lg rounded-3 p-4" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-3 fs-3"></i>
        <div class="fw-semibold fs-5">No tiene permisos para acceder a este contenido</div>
      </div>
    </div>
  {% else %}
    <main class="container py-5">
      <section class="card card-body shadow-sm p-4">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
              <h1 class="display-5">Gestión de municipios</h1>
              {% if can_edit %}
                <div>
                  <a href="/municipios/crear/" class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear municipio">{% icon 'plus' %}</a>
                </div>
              {% endif %}
            </div>
            <div class="table-responsive">
              <table id="municipios_table" class="table table-hover table-bordered align-middle">
                <thead class="table-secondary text-center">
                  <tr>
                    {% if can_edit %}
                      <th></th>
                    {% endif %}
                    <th>Codigo municipio</th>
                    <th>Municipio</th>
                    <th>Departamento</th>
                  </tr>
                </thead>
                <tbody>
                  {% for municipio in municipios %}
                    <tr data-id="{{ municipio.id }}">
                      {% if can_edit %}
                        <td>
                          <a href="{% url 'detalle_municipio' municipio.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar">{% icon 'edit' %}</a>
                          <a href="{% url 'eliminar_municipio' municipio.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar">{% icon 'delete' %}</a>
                        </td>
                      {% endif %}
                      <td>{{ municipio.cod_munici }}</td>
                      <td>{{ municipio.nom_munici }}</td>
                      <td>{{ municipio.nom_departa }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>
  {% endif %}
{% endblock %}
